* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
  height: 100vh;
  background-color: rgb(41, 44, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.menu_item_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_item {
  margin-right: 2rem;
  cursor: pointer;
}

.logoutButton {
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 9%;
  background-color: rgb(41, 44, 49);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo i {
  font-size: 1.7rem;
  height: 100%;
  margin-top: 0.3rem;
}

.logo_text {
  margin-left: 0.7rem;
}

.header_buttons {
  display: flex;
  flex-direction: row;
}

.imgLoaderBox {
  border-radius: 1rem;
  background-color: rgb(95, 195, 235);
  box-shadow: 1px 1px 3px 1px rgb(114, 154, 170);
  cursor: pointer;
}

.download {
  width: 7rem;
  height: 3rem;
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 1px 1px 3px 1px #dadce0;
  color: black;
  text-align: center;
  line-height: 3rem;
}

.imgLoaderBox {
  width: 7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgLoader {
  display: none;
}

.main {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: row;
}

.canvas_info {
  width: 10%;
  height: 100%;
  background-color: rgb(41, 44, 49);
  border-right: 1px solid black;
  color: white;
  z-index: 1;
}

.canvas_size {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 2rem 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

.canvas_size_title {
  margin: 1rem 0.2rem 0.5rem 0.2rem;
}

.canvas_size_width_name,
.canvas_size_height_name {
  margin: 0 0.45rem 0.2rem 0.2rem;
}

.canvas_width,
.canvas_height {
  width: 65%;
  cursor: text;
}

.canvas_size_button {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 1.4rem;
  font-size: 1rem;
  font-weight: 600;
}

.textbox {
  padding: 0 1rem;
}

.textbox_values {
  display: flex;
  flex-direction: row;
}

.text_size {
  width: 35%;
  outline: none;
}

.text_color {
  width: 60%;
  outline: none;
}

.middle {
  width: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas_section {
  padding: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas_box {
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 25);
}

.buttons {
  width: 100%;
  height: 20%;
  background-color: rgb(41, 44, 49);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.buttons_filter {
  width: 200px;
  height: 90%;
  padding: 0.5rem 1rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.2rem;
}

.filter_name {
  width: 4rem;
}

.buttons_range {
  width: 450px;
  height: 90%;
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter_name.gamma {
  width: 100%;
}

.gamma_name {
  margin-right: 1rem;
}

.gamma_red_box,
.gamma_green_box,
.gamma_blue_box {
  display: flex;
  flex-direction: row;
}

.buttons_color {
  width: 200px;
  height: 90%;
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.source_image_container {
  width: 13%;
  height: 100%;
  background-color: rgb(41, 44, 49);
  color: white;
  border-left: 1px solid black;
  z-index: 1;
  overflow-y: auto;
}

.source_image_title_box {
  margin: 1rem 5% 1.5rem 5%;
}

.source_image_title {
  font-size: 1.2rem;
}

.source_image_title_button {
  margin-left: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.source_image_box {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recommand {
  width: 40%;
  margin: 5%;
  cursor: pointer;
  transition: 100ms transform ease-in;
}

.recommand:hover {
  transform: scale(1.05);
}

.footer {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 30, 32);
  border-top: 1px solid black;
}

.footer_button {
  width: 5%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  margin: 0 0.5rem;
  cursor: pointer;
  position: relative;
  display: block;
}

.footer_button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 1px;
  position: absolute;
  z-index: 1;
}
.footer_button:hover .tooltiptext {
  visibility: visible;
}
.footer_button .tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}
.footer_button .tooltip-top {
  width: 120px;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

.footer_button .tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: black transparent transparent transparent;
}

.footer_button:hover {
  background: transparent;
  color: #fff;
}

.footer_button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #fff;
  transition: 400ms ease all;
}

.footer_button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.footer_button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.left_button {
  color: rgb(41, 44, 49);
  border: none;
  position: relative;
  padding: 0 0.65em;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  height: 1.6rem;
  font-size: 1rem;
  font-weight: 600;
}

.search_popup {
  display: none;
  z-index: 999;
  width: 60%;
  height: 70%;
  background-color: white;
  position: fixed;
  top: 15%;
  border-radius: 1rem;
  box-shadow: 1px 3px 3px 3px rgb(252, 252, 252);
  padding: 2rem 3rem;
}

.popup_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup_header_title {
  margin: 0;
  font-size: 1.7rem;
}

.popup_close {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-times {
  font-size: 1.5rem;
}

.popup_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.popup_header_title {
  white-space: nowrap;
}

.popup_header_buttons {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.popup_header_icon_button {
  outline: none;
  border: none;
  background-color: rgb(95, 195, 235);
  color: white;
  border-radius: 4px 0 0 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

.popup_header_bg_button {
  outline: none;
  border: none;
  background-color: rgb(95, 195, 235);
  color: white;
  border-radius: 0 4px 4px 0;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.5;
}

.popup_tag_container {
  display: flex;
  flex-direction: row;
}

.tag {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: 1px 3px 3px 1px lightgray;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: 150ms transform ease-in;
}

.tag:hover {
  transform: scale(1.05);
}

.bg_tag {
  display: none;
}

.popup_image_container {
  width: 100%;
  height: 80%;
  margin: 5% 0;
  overflow-y: auto;
}

.source_image {
  width: 10%;
  height: 6.5rem;
  cursor: pointer;
  margin: 1%;
  transition: 150ms transform ease-in;
}

.source_image:hover {
  transform: scale(1.05);
}

.recommand_help_popup {
  display: none;
  z-index: 999;
  width: 40%;
  height: 40%;
  background-color: white;
  position: fixed;
  top: 22%;
  border-radius: 1rem;
  box-shadow: 1px 3px 3px 3px rgb(252, 252, 252);
  padding: 2rem 3rem;
}

.recommand_help_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.recommand_help_popup_close {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.recommand_help_content_box {
  padding: 0 1rem;
}

.recommand_help_content {
  font-size: 1.2rem;
}
