* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
}

.header {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 5px 0 lightgray;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo i {
  font-size: 1.7rem;
  height: 100%;
  margin-top: 0.3rem;
}

.logo_text {
  margin-left: 0.7rem;
}

.menu_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 2rem;
}

.menu_item {
  margin: 0 0.5rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  display: flex;
}

.menu_item:hover {
  border-bottom: 2px solid #48bbed;
}

.logoutButton {
  display: none;
}

.main_image_box {
  height: 68vh;
}

.main_image {
  margin-top: 88px;
  width: 100%;
  height: 100%;
  background: url("../images/banner_help.png") center/cover no-repeat;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_title {
  margin-top: 5.5rem;
  font-size: 3rem;
}

.main_text {
  padding: 400px 20px 0 20px;
  text-align: center;
}
.main_items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 12rem 0 12rem;
  margin-bottom: 3.5rem;
}

.main_item {
  width: 25%;
}

.help_pc_image {
  width: 350px;
  height: 200px;
}

.help_mobile_image {
  width: 120px;
  height: 220px;
}

.go_editor {
  border: 2px solid #48bbed;
  margin-bottom: 10rem;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.go_editor:hover {
  transform: scale(1.02);
}

.divider {
  width: 95%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

.login {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}

.login_title {
  font-size: 3rem;
  margin-bottom: 4.5rem;
}

.login_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
  margin-bottom: 3rem;
}

.login_item_text_data {
  width: 80%;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.login_item i {
  font-size: 8rem;
  color: #48bbed;
}

.go_login {
  border: 2px solid #48bbed;
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.go_login:hover {
  transform: scale(1.02);
}

.footer {
  width: 100%;
  height: 7rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-top: 1.5rem;
}

.footer_datas {
  text-align: center;
}

.data {
  padding: 0 0.5rem;
}

.toggle {
  display: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  position: fixed;
  top: 1.4rem;
  right: 1.5rem;
}

@media screen and (max-width: 780px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .logo i {
    font-size: 1.4rem;
    height: 100%;
    margin-top: 0.3rem;
  }

  .logo_text {
    margin-left: 0.3rem;
    font-size: 1.6rem;
  }

  .toggle {
    display: block;
  }
  .menu_list {
    display: none;
    height: auto;
    padding: 1rem;
  }
  .main_image_box {
    display: none;
  }
  .main_image {
    display: none;
  }

  .main {
    padding: 0 2rem;
  }

  .main_title {
    font-size: 1.6rem;
    margin-top: 6rem;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid lightgray;
  }

  .help_pc_image {
    width: 80%;
  }

  .description {
    margin: 0;
    padding: 2rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: normal;
  }

  .main_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    margin: 0;
  }

  .main_item {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
  }

  .main_item_image {
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .go_editor {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }

  .login {
    margin-bottom: 3rem;
  }

  .login_title {
    font-size: 1.8rem;
  }

  .login_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }

  .login_item_title {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .login_item_description {
    font-size: 1rem;
  }

  .login_item_text_data {
    width: 80%;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .login_item i {
    font-size: 8rem;
    color: #48bbed;
  }

  .last {
    margin-bottom: 0;
  }

  .go_login {
    border: 2px solid #48bbed;
    padding: 1rem 2.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }

  .footer {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  .copyright {
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }

  .footer_datas {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }

  .data {
    padding: 0.2rem;
  }
}
